.divider { 
    border: 0.5px solid lightgrey;
    margin: 10px 0;
}

.number { 
    color: white;
    background-color: #6E758B;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin: auto 5px;
}

.zeroState { 
    text-align: center;
    margin: auto;
    padding-top: 30px;

    .header { 
        font-weight: 700;
        padding: 10px 0;
    }
}